* {
  margin: 0;
  padding: 0;
  max-width: 90vw;
}
$grey:#181818;

body {
  background: $grey;
  color: white;
  font-family: lato, sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1em;
}

.Logo {
  background-image: url("./Sofa.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 258px;
  height: 91px;
  transition: margin 0.125s ease;
  margin-top: -3%;
  margin-left: -5%;
  position: absolute;
}

.Logo:hover {
  cursor: pointer;
  margin-top: -2%;
}

.Navigation {
  display: flex;
  margin-top: 3%;
  margin-left: 4%;
}

.Navigation ul {
  display: flex;
  height: 37px;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  margin-left: 45%;
}

.Navigation li {
  list-style-type: none;
  font-weight: 400;
  padding: 7px 10px;
  font-size: 14px;
  transition: background 0.125s ease;
  border-radius: 3px;
}

.Navigation li a {
  color: white;
  text-decoration: none;
}

.Navigation li:hover {
  background: red;
  cursor: pointer;
}

.Search {
  align-items: center;
  width: 20%;
  position: absolute;
  display: flex;
  pointer-events: none;
  margin-left: 25%;
}

.Search input {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 19px;
  width: 100%;
  background: transparent;
  color: white;
  appearance: none;
  border: 0;
  border: 2px solid rgba(grey, 0.1);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  transition: border 0.25s ease, width 0.125s ease 0.125s;
  margin-top: 7px;
}

.Search input:focus {
  width: 100%;
}

.search-items {
  margin-left: -20%;
  margin-top: 60px;
}

.UserProfile {
  display: flex;
  position: absolute;
  margin-left: 79%;
  margin-top: -0.5%;
}

.UserProfile .User {
  display: flex;
}

.UserProfile .User .image {
  border-radius: 44px;
  margin-left: 10px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border 0.125s ease;
}

.UserProfile .User .image img {
  width: 100%;
  display: block;
}

.UserProfile .User .name {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  height: 44px;
}

.UserProfile:hover {
  cursor: pointer;
}

.UserProfile .image:hover {
  border: 3px solid red;
}

.UserProfile-menu {
  display: none;
}
.logo{
  width: 117px;
    position: absolute;
    margin-top: -25px;
    margin-left: 51px;
}

.Button {
  background: transparent;
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(grey, 0.2);
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
  transition: border 0.125s ease, background 0.125s ease;
  width: 82%;
  margin-left: -3%;
}

.Button:hover {
  border: 2px solid grey;
}

.Button[data-primary="true"] {
  border: 2px solid red;
}

.Button[data-primary="true"]:hover {
  background: red;
}

.Hero~.TitleList:nth-child(3) {
  margin-top: -10vw;
  position: relative;
  z-index: 4;
}

.TitleList {
  padding: 20px 40px;
  box-sizing: border-box;
  transition: opacity 3s ease;
  opacity: 0;
}

.TitleList .titles-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
  width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
  padding-bottom: 6%;
}

.TitleList[data-loaded="true"] {
  opacity: 1;
}

.Item {
  width: 18%;
  min-width: calc(20% - 10px);
  background-color: $grey;
  flex: 1 0 auto;
  background-position: center;
  background-size: 100%;
  height: 200px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: 10px;
  transition: background 1s ease;
}

.Item:nth-child(n + 6) {
  margin-top: 20px;
}

.Item:last-child {
  margin-right: 0;
}

.Item .overlay {
  padding: 20px;
  position: relative;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.125s ease;
}

.Item .overlay .rating {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.25s ease 0.125s;
}

.Item .overlay .plot {
  font-size: 14px;
  display: -webkit-box;
  margin-top: 100px;
  font-weight: 300;
  line-height: 1.6;
  opacity: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.25s;
}

.Item:hover {
  background-size: 150%;
  font-weight: bolder;
}

.Item:hover .overlay {
  opacity: 1;
  pointer-events: all;
  margin-top: 30px;
  margin-left: -10%;
}

.Item:hover .overlay i {
  margin-left: 70%;
  margin-top: -6%;
  font-size: 25px;
  position: absolute;
}

.Item:hover .overlay i:hover {
  color: red;
  cursor: pointer;
}

.Item:hover .overlay .plot {
  margin-top: 30px;
  opacity: 1;
  font-size: 10px;
  display: -webkit-box;
  width: 120%;
  line-height: 1;
  -webkit-line-clamp: 5;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-weight: bolder;
}

.Item:hover .overlay .title {
  opacity: 1;
  font-size: 10px;
}

.Item:hover .overlay .rating {
  opacity: 1;
}

.Random {
  height: 100%;
  margin-top: -8%;
}

.Random-pic {
  height: 100vh;
  width: 35vw;
  margin: 0 auto;
}

.plot-random {
  width: 100%;
  font-size: 15px;
}

/* TEMPORAL */
.MuiFormControl-root-1 .search-user {
  margin-top: -150px;
  position: absolute;
}

.Search-bar {
  max-width: 77vw;
}

.search-icon {
  padding-top: 25px;
  padding-left: 3px;
}

.model-img {
  width: 57%;
}
