* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

a {
  color: black;
  cursor: pointer;
}
.search-results {
  display: flex;
  align-items: stretch;
}

.overme {
  display: -webkit-box;
  max-width: 20%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */

  -webkit-box-orient: vertical;

  /* autoprefixer: on */

  overflow: hidden;
  text-overflow: ellipsis;
}
ul {
  display:flex;
  justify-content: space-around;
  list-style: none;
}
.names{
display: flex;
justify-content: space-around;
}

.images{
  display: flex;
  width: 100vw;
justify-content: space-around;

}
.images img{
  width: 20%;
  height: 10%;

}