@import "./Random-btn.scss";
@import "./Arrow.scss";
@import "./Logo.scss";
@import "./Icons.scss";
@import "./Navigation.scss";
@import "./Search.scss";

* {
  margin: 0;
  padding: 0;
  max-width: 90vw;
}
$grey: #181818;

body {
  background: $grey;
  color: white;
  font-family: lato, sans-serif;
}

h1 {
  font-size: 47px;
  margin-left: 4%;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}
h3 {
  font-size: 50px;
  text-align: center;
}
p {
  font-size: 46px;
  font-weight: 300;
  line-height: 1.6;
}

.UserProfile {
  display: flex;
  position: absolute;
  margin-left: 79%;
  margin-top: 0%;
}

.UserProfile .User {
  display: flex;
}

.UserProfile .User .image {
  border-radius: 44px;
  margin-left: 10px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border 0.125s ease;
}

.UserProfile .User .image img {
  width: 100%;
  display: block;
}

.UserProfile .User .name {
  align-items: center;
  color: lightblue;
  display: flex;
  font-size: 30px;
  font-weight: 300px;
  height: 44px;
}

.UserProfile:hover {
  cursor: pointer;
}

.UserProfile .image:hover {
  border: 3px solid red;
}

.UserProfile-menu {
  display: none;
}

.TitleList {
  padding: 20px 40px;
  box-sizing: border-box;
  transition: opacity 3s ease;
  opacity: 0;
  margin-top: -1%;
}

.TitleList .titles-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4%;
  width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
  padding-bottom: 6%;
}

.TitleList[data-loaded="true"] {
  opacity: 1;
  margin-bottom: 5%;
}

.Item {
  width: 18%;
  min-width: calc(20% - 10px);
  background-color: $grey;
  flex: 1 0 auto;
  background-position: center;
  background-size: 100%;
  height: 200px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: 10px;
  transition: background 1s ease;
}

.Item:nth-child(n + 6) {
  margin-top: 20px;
}

.Item:last-child {
  margin-right: 0;
}

.Item .overlay {
  padding: 20px;
  position: relative;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.125s ease;
}

.Item .overlay .rating {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.25s ease 0.125s;
}

.Item .overlay .plot {
  font-size: 14px;
  display: -webkit-box;
  margin-top: 100px;
  font-weight: 300;
  line-height: 1.6;
  opacity: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.25s;
}

.Item:hover {
  background-size: 150%;
  font-weight: bolder;
}

.Item:hover .overlay {
  opacity: 1;
  pointer-events: all;
  margin-top: 60px;
  margin-left: -10%;
}

.Item:hover .overlay i {
  margin-left: 70%;
  margin-top: -6%;
  font-size: 35px;
  position: absolute;
}

.Item:hover .overlay i:hover {
  color: red;
  cursor: pointer;
}

.Item:hover .overlay .plot {
  margin-top: 30px;
  opacity: 1;
  font-size: 15px;
  text-align: center;
  display: -webkit-box;
  width: 60%;
  line-height: 1;
  -webkit-line-clamp: 5;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-weight: bolder;
}

.Item:hover .overlay .title {
  opacity: 1;
  text-align: left;
  font-size: 17px;
  margin-left: 5%;
  margin-top: -16%;
}

.Item:hover .overlay .rating {
  opacity: 1;
  margin-left: 7%;
  text-align: left;
}

.Random {
  height: 100%;
  margin-top: -8%;
}

.Random-pic {
  height: 75vh;
  width: 35vw;
  margin: 0 auto;
}

.form-control {
  background-color: azure;
  text-align: center;
  width: 57%;
}

.FriendSearch {
  width: 500px;
  margin-top: -130px;
  margin-left: 900px;
  position: absolute;
}
.Search-Result {
  position: absolute;
  margin-top: -40px;
  margin-left: 950px;
}

.Search-Result span {
  color: white;
}
.genre-title-search {
  font-size: 30px;
}
.Add-Button {
  position: absolute;
  margin-top: 60px;
  margin-left: 950px;
}

.FriendList {
  margin-left: 150px;
  // margin-top: -62px;
}
.friend-name {
  font-size: 40px;

}
.Search-bar {
  max-width: 77vw;
}
.User-Image {
  position: absolute;
  margin-top: -70px;
  margin-left: -60px;
}
.FriendsGenre {
  margin-top: -12px;
  margin-left: 145px;
}


.model-img {
  width: 67%;
  margin-left: 15%;
}

.search-items {
  margin-left: -5%;
  margin-top: 6%;
}

.material-icons {
  font-size: 40px;
  position: absolute;
  margin-left: 2%;
  margin-top: 1%;
}

.MuiInputBase-root-18 {
  font-size: 50px !important;
  color: darkblue;
}

.pic-load {
  height: 44px;
  font-size: 30px;
  padding: 25px;
}

span {
  color: black;
  font-size: 30px;
}

label {
  font-size: 100px;
}

.name {
  font-size: 60px;
  text-align: center;
  padding: 15%;
}

.background {
  width: 105%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -12%;
}

.sign-up {
  margin-left: 30%;
}

input.pic-load {
  color: black;
}

.submit-btn {
  margin-left: 45%;
}
.submit-btn button span {
  color: white;
  padding-top: 10px;
}

.login {
  margin-left: 29%;
  margin-top: 3%;
}
.btn {
  margin-top: 2%;
}

.create {
  margin-top: -7%;
}
