.Logo {
  background-image: url("./Sofa.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 265px;
  height: 46px;
  transition: margin 0.125s ease;
  margin-top: -0.5%;
  margin-left: -1%;
  position: absolute;
}

.Logo:hover {
  cursor: pointer;
  margin-top: 0%;
}

