.title-btn {
  color: white;
  font-size: 25px;
  position: absolute;
  margin-top: 1.5%;
  margin-left: 21%;
}
.title-btn-2 {
  color: white;
  font-size: 25px;
  position: absolute;
  margin-top: -2.5%;
  margin-left: 21%;
}
.button {
  background: #ad72ad;
  width: 194px;
  color: white;
  padding: 11px 0;
  left: 83%;
  top: 50%;
  border-radius: 25px;
  border: none;
  margin-top: -5%;
  font-size: 20px;

  p {
    font-family: "Roboto";
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    user-select: none;
  }

  &:hover {
    cursor: pointer;
  }
  &:focus {
    background-color: #812d81;
    outline: 0;
    width: 200px;
    padding: 20px;
    border-radius: 40px;
    font-size: 20px;
  }
}

.btn-genre {
  margin-top: 11%;
  margin-left: 40%;
  display: flex;
  justify-content: space-between;
}

.btn-age{
  margin-top: 4%;
  margin-left: 40%;
  display: flex;
  justify-content: space-between;
}
.second:focus {
  background-color: #812d81;
  outline: 0;
  width: 200px;
  padding: 20px;
  border-radius: 40px;
  font-size: 20px;
}

.third:focus {
  background-color: #812d81;
  outline: 0;
  width: 200px;
  padding: 20px;
  border-radius: 40px;
  font-size: 20px;
}

.fourth:focus {
  background-color: #812d81;
  outline: 0;
  width: 200px;
  padding: 20px;
  border-radius: 40px;
  font-size: 20px;
}

.fifth:focus {
  background-color: #812d81;
  outline: 0;
  width: 200px;
  padding: 20px;
  border-radius: 40px;
  font-size: 20px;
}

.sixth:focus {
  background-color: #812d81;
  outline: 0;
  width: 200px;
  padding: 20px;
  border-radius: 40px;
  font-size: 20px;
}

.seventh:focus {
  background-color: #812d81;
  outline: 0;
  width: 200px;
  padding: 20px;
  border-radius: 40px;
  font-size: 20px;
}

.eigth:focus {
  background-color: #812d81;
  outline: 0;
  width: 200px;
  padding: 20px;
  border-radius: 40px;
  font-size: 20px;
}

.nine:focus {
  background-color: #812d81;
  outline: 0;
  width: 200px;
  padding: 20px;
  border-radius: 40px;
  font-size: 20px;
}
