.Search {
  align-items: center;
  width: 33%;
  position: absolute;
  display: flex;
  pointer-events: none;
  margin-left: 16%;
  margin-top: -1%;
}
.FriendSearch input {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 27px;
  height: 19px;
  width: 100%;
  background: transparent;
  color: white;
  appearance: none;
  border: 0;
  border: 2px solid rgba(grey, 0.1);
  outline: none;
  border-radius: 37px;
  padding: 17px 82px;
  pointer-events: all;
  border: none;
  margin-top: 7px;
}

.FriendSearch input:focus {
  border: 1px solid lightblue;
  width: 100%;
}

.Search input {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 27px;
  height: 19px;
  width: 100%;
  background: transparent;
  color: white;
  appearance: none;
  border: 0;
  border: 2px solid rgba(grey, 0.1);
  outline: none;
  border-radius: 37px;
  padding: 17px 82px;
  pointer-events: all;
  border: 1px solid white;
  margin-top: 7px;
}

.Search input:focus {
  border: 2px solid darkblue;
  width: 100%;
}

.FriendSearch {
  width: 500px;
  margin-top: -85px;
  margin-left: 1000px;
  position: absolute;
}
.Search-Result {
  position: absolute;
  margin-top: -10px;
  margin-left: 980px;
}

.Search-Result span {
  color: white;
}

.Add-Button {
  position: absolute;
  margin-top: 120px;
  margin-left: 1250px;
}

.friend-name {
  font-size: 40px;
}

.FriendList {
  margin-left: 150px;
}
.Search-bar {
  max-width: 77vw;
}
.User-Image {
  width: 40px;
  position: absolute;
  margin-top: -40px;
  margin-left: -55px;
}
.FriendsGenre {
  font-size: 30px;
  margin-top: -10px;
  margin-left: 160px;
}
